@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
body {
  background : black;
}

h1, h4, p, a {
  color : white;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.btn {
  position: relative;
	background-color:#ffec64;
	border:1px solid #fff;
	cursor:pointer;
	color:#333333;
	font-size: 1rem;;
	font-weight: 600;
	padding:12px 32px;
  text-transform: uppercase;
}

.btn-light {
  background-color:transparent;
	border:1px solid #fff;
	cursor:pointer;
	color:#fff;
	font-size: 1rem;;
	font-weight: 600;
	padding:12px 32px;
  text-transform: uppercase;
}

.btn:hover {
	background:rgba(255, 255, 255, 0.2);
	background-color:#fff;
  border: 1px solid black;
  transition: 0.3s;
}

.btn-light:hover {
  background:rgba(255, 255, 255, 0.2);
	background-color:#fff;
  color: black;
  transition: 0.3s;
}